.chat{
    flex:0.65;
    display:flex;
    flex-direction: column;
}

.chat__header{
    display: flex;
    padding:20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat__headerInfo{
    flex:1;
    padding-left: 20px;
}

.chat__headerInfo>h2{
    margin-bottom: 5px;
    font-weight: 500;
}

.chat__headerInfo>p{
    color:gray
}

.chat__body{
    flex:1;
    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat__message{
    position: relative;
    font-size: 15px;
    background-color: white;
    margin-top:25px;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 10px;
    width:fit-content
}

.chat__reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat__name{
    position:absolute;
    font-size: x-small;
    font-weight: 900;
    margin-top: -25px;
}

.chat__timeStamp{
    font-size: x-small;
    margin-left: 10px;
    margin-top: -25px;
}

.chat__footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:62px;
    border-top: 1px solid lightgray;
    margin-top: -8px;
    margin-bottom: -8px;
}

.chat__footer > form{
    flex:1;
    display: flex;
}

.chat__footer > form>input{
    flex:1;
    border-radius:10px;
    outline-width: 0;
    border:none;
    padding-left: 10px;
    height:28px;
    font-size: 14px;
    margin:10px;
    outline-width: 0px;
}

.chat__footer > form>button{
    display:none
}