.sidebar {
  flex: 0.35;
  display: flex;
  flex-direction: column;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer {
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.sidebar__searchContainer > .MuiSvgIcon-root{
    color: grey;
    padding: 15px;
}

.sidebar__searchContainer > input {
    border: none;
    margin-left: 10px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__chats{
    flex:1;
    flex-direction: column;
    background-color: white;
    overflow: scroll;
}
